#include "charybdis4x6.dtsi"

&default_transform {
    col-offset = <6>;
};

/* 
 * [핵심 해결책] 
 * 트랙볼 데이터 전송 연결
 * 의미: "이봐 시스템, &trackball 장치에서 들어오는 신호를 스플릿 통신으로 쏴줘!"
 */
&trackball_split {
    device = <&trackball>;
};
