/* Gemini 3 Pro - Vendor Match Version */
/* 판매자 소스코드 기반 정답: SCK(8), MOSI(17), CS(20), IRQ(6) */

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            /* 판매자 코드: SCK=8, MOSI=17, MISO=17 */
            psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
                <NRF_PSEL(SPIM_MOSI, 0, 17)>,
                <NRF_PSEL(SPIM_MISO, 0, 17)>;
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
                <NRF_PSEL(SPIM_MOSI, 0, 17)>,
                <NRF_PSEL(SPIM_MISO, 0, 17)>;
            low-power-enable;
        };
    };
};

&spi0 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    
    /* 판매자 코드: CS = P0.20 */
    cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;

    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        
        /* 판매자 코드: IRQ = P0.06 */
        irq-gpios = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        
        /* 스크롤 모드 설정 (레이어 1번 활성화 시 스크롤 작동) */
        scroll-layers = <1>;
    };
};
