config ZMK_SPLIT
    default y

if ZMK_BLE

config ZMK_SPLIT_BLE
    default y

if SHIELD_CHARYBDIS4x6_DONGLE
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2
endif

if SHIELD_CHARYBDIS4x6_RIGHT
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 1
endif

if SHIELD_CHARYBDIS4x6_LEFT || SHIELD_CHARYBDIS4x6_RIGHT_PERIPH 
config ZMK_SPLIT_ROLE_CENTRAL
    default n
config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default n
config ZMK_USB 
    default n
config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y
endif

if SHIELD_CHARYBDIS4x6_DONGLE || SHIELD_CHARYBDIS4x6_RIGHT
config BT_MAX_CONN
    default 5
config BT_MAX_PAIRED
    default 5
endif

if SHIELD_CHARYBDIS4x6_RIGHT || SHIELD_CHARYBDIS4x6_RIGHT_PERIPH || SHIELD_CHARYBDIS4x6_LEFT
config ZMK_SLEEP
    default y
endif

endif
    
if SHIELD_CHARYBDIS4x6_DONGLE
config ZMK_KEYBOARD_NAME
    default "CharybdisDongle"
endif

if SHIELD_CHARYBDIS4x6_RIGHT
config ZMK_KEYBOARD_NAME
    default "Charybdis"
endif

if SHIELD_CHARYBDIS4x6_DONGLE  || SHIELD_CHARYBDIS4x6_RIGHT
config ZMK_SPLIT_ROLE_CENTRAL
    default y
config BT_BAS
    default y
config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default y
config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y
endif

if SHIELD_CHARYBDIS4x6_RIGHT || SHIELD_CHARYBDIS4x6_RIGHT_PERIPH
# https://github.com/badjeff/zmk-pmw3610-driver/blob/main/src/pmw3610.c
config PMW3610_ALT
    default y
config PMW3610_ALT_SMART_ALGORITHM
    default y
config PMW3610_ALT_SWAP_XY
    default y
config PMW3610_ALT_INVERT_X
    default y
config PMW3610_ALT_INVERT_Y
    default y
config PMW3610_ALT_REPORT_INTERVAL_MIN
    default 12
config PMW3610_ALT_REST1_SAMPLE_TIME_MS
    default 100
config PMW3610_ALT_REST2_SAMPLE_TIME_MS
    default 200
config PMW3610_ALT_REST3_SAMPLE_TIME_MS
    default 300
config PMW3610_ALT_RUN_DOWNSHIFT_TIME_MS
    default 2000
config PMW3610_ALT_REST1_DOWNSHIFT_TIME_MS
    default 3000
config PMW3610_ALT_REST2_DOWNSHIFT_TIME_MS
    default 30000
endif

if  SHIELD_CHARYBDIS4x6_DONGLE || SHIELD_CHARYBDIS4x6_RIGHT || SHIELD_CHARYBDIS4x6_RIGHT_PERIPH
config SPI
    default y
config INPUT
    default y
config ZMK_POINTING
    default y
config ZMK_EXT_POWER
    default y
endif